.game {
    width: 600px;
    height: 200px;
    background-image: url(img/road333.png);
    border-bottom: 3px solid rgb(0, 0, 0);
    margin:auto;
    
    
}
#jeep {
    width: 90px;
    height: 60px;
    background-image: url(img/animated-jeep-image-0007.gif);
    background-size: 90px 60px;
    color: red;
    position: relative;
    top: 150px;   
}
#cactus {
    width: 20px;
    height: 30px;
    background-image: url(img/cactus.png);
    background-size: 20px 30px;
    position: relative;
    top: 110px;
    left: 580px;
    animation: cactusMov 1.5s infinite linear;
}
@keyframes cactusMov {
    0% {
        left: 580px;     
    }
    100% {
        left: -20px;
    }
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }
    30% {
        top:110px;
    }
    50% {
        top: 80px;
    }
    80% {
        top: 110px;
    }
    100% {
        top: 150px;
    }
}
#number {
    width: 600px;
    height: 60px;
    text-align: center;
    font-size:x-large;
    font-weight:bold;
    font-style:normal;
    font-family: cursive;
    color: rgb(250, 10, 10);

}